<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>义务管理-<{$Think.config.WEB_NAME}></title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="__PUBLIC__/template/css/sm.css">
    <link rel="stylesheet" href="__PUBLIC__/template/css/sm-extend.css">
    <link rel="stylesheet" href="__PUBLIC__/template/css/main.css">
          
  </head>
  <body>
    <div class="content-box no-top">
       <div class="main-con">
  <volist name="mydutyadmin" id="mydutyadmin">
  <if condition="$mydutyadmin['status']==2">
        <div class="con-font con-pd bgcolor-w con-mb">
           <form class="form-box" action="">
              <div class="row">
              <p class="textarea-unit3" placeholder=""><{$mydutyadmin.content}></p>
              </div>
              <div class="row btn-action2">
               <input name="ok" type="button" value="已完成" class="btn-02" disabled="disabled"><span><{$mydutyadmin.date}></span>
              </div>
           </form>   
        </div>
    <elseif condition="$mydutyadmin['status']==1"/>
        <div class="con-font con-pd bgcolor-w con-mb">
            <form class="form-box">
              <div class="row">
              <p class="textarea-unit3" placeholder=""><{$mydutyadmin.content}></p>
              </div>
              <div class="row btn-action2">
               <input type="hidden" name="id" value="<{$mydutyadmin.id}>">
               <input type="hidden" name="status" value="2">
               <a href="__URL__/domydutyadmin/id/<{$mydutyadmin.id}>/status/2/" class="btn-01" style="font-size:10pt;height:25px;text-align:center;line-height:25px;">处理中</a><span><{$mydutyadmin.date}></span>
              </div>
           </form>   
        </div>
    <else />
        <div class="con-font con-pd bgcolor-w con-mb">
           <form class="form-box">
              <div class="row">
              <p class="textarea-unit3" placeholder=""><{$mydutyadmin.content}></p>
              </div>
              <div class="row btn-action">
              <a href="__URL__/domydutyadmin/id/<{$mydutyadmin.id}>/status/1/"><input name="ok" type="button" value="" class="btn-ok"></a>
              <a href="__URL__/deletemydutyadmin/id/<{$mydutyadmin.id}>/"><input name="cancel" type="button" value="" class="btn-cancel"></a>
              </div>
           </form>
        </div>
    </if>
    </volist>
       </div>
       <!--<div class="con-font con-pd text-center color-gray bgcolor-w con-mb2">
          联系电话：<a href="tel:<{$Think.config.WEB_TELEPHONE}>" style="color:#000000"><{$Think.config.WEB_TELEPHONE}></a>  技术支持：<a href="http://www.singka.cn" style="color:#000000">晟嘉网络</a>
       </div>-->
    </div>
    <nav class="bar bar-tab">
    <a class="tab-item external" href="/">
      <span class="tab-label">综合信息</span>
    </a>
    <a class="tab-item external" href="__URL__/support">
      <span class="tab-label">提供支持</span>
    </a>
    <a class="tab-item external active" href="__URL__/index">
      <span class="tab-label">我的信息</span>
    </a>
   
  </nav>
              
          
<script src="__PUBLIC__/template/js/zepto.min.js"></script>
<script src="__PUBLIC__/template/js/sm.js"></script>
<script src="__PUBLIC__/template/js/sm-extend.js"></script>
  </body>
</html>