
body { font-family:"Microsoft Yahei"; color:#333; background:#e2e1e1;}
a {
  color: #fcfcfc;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:active {
  color: #fff;
}
.bigtit { margin:0; color:#fff; line-height:2.1rem; font-size:1.1rem;font-weight:400; text-align:center; background:url(../images/titbg.png) no-repeat; background-size: cover; }


.pos-r { position: relative;}
.pos-a { position: absolute;}

.fl { float:left;}
.fr { float:right;}


.bar {
    background-color: #fff;
}
.bar-tab {height: 2rem; border-top:#aaa 1px solid;}
.bar-tab .tab-item {
  height: 2rem;
  color: #333;
  text-align: center;
  vertical-align: middle;
  border-right:#aaa 1px solid;
}
.bar-tab .tab-item:last-child { border-right:none;}
.bar-tab .tab-item.active,
.bar-tab .tab-item:active {
  color: #EC3E31;
}


.content-box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.content-box {
  top: 2.1rem;
  bottom: 2rem;
}
.no-top { top:0;}
.no-bottom { bottom:0;}

.main-con {margin: 1rem 0.5rem;} .main-con2 {margin:0;}
.main-con .row {
    overflow: hidden;
	margin-left:0;
}

.main-con .row .col-lit{ width:33%; margin-left:0;}
.main-con .row .col-100 { width:99%; margin-left:0;}
.main-con img { display:block; width:100%;}


.form-box .btn-search {height:1.5rem; width:1.5rem; background:url(../images/icon_search.png) center center no-repeat; background-size:auto 60%; }
.form-box .input-text2 { float:right; background:#ecebbf;font-size:0.7rem; height:1.5rem; width:1.5rem; text-align:center;}
.form-box select { font-size:0.5rem;padding:0; margin:0; border:none;background:#ecebbf;height:1.5rem;}

.form-box .row { width:100%; margin:0.2rem 0;}
.form-box input{ height:1.3rem;border:none; }
.form-box .input-text{background:#ecebbf;font-size:0.5rem;padding:0 0.2rem; color:#333;}

.form-box label {font-size:0.7rem; padding-right:0.3rem;}
.form-box .select-unit {font-size:0.5rem;padding:0 0.2rem; margin:0; border:none;background:#ecebbf;height:1.2rem;}
.form-box .textarea-unit { width:100%; min-height:3.5rem; border:#bbb 1px solid; background:#fcf9e8;}
.form-box .textarea-unit2 { width:100%; font-size:0.7rem; min-height:18rem; border:none; background:#fff;}
.form-box .textarea-unit3 { width:100%; font-size:0.7rem; min-height:4rem; border:none; background:#fff;}
.form-box .btn-submit { background:#ffe8ca;font-size:0.5rem; padding:0 0.5rem;}
.form-box .btn-submit2 { background:#f7b47f; color:#fff; font-size:1rem; height:1.7rem; padding:0 0.5rem;}

.form-box .btn-action input {float:left; margin-left:2%; width:48%; display:inline-block; height:1.8rem;}
.form-box  .btn-action .btn-ok {  background:#e8f2d0 url(../images/icon_gou_w.png) center no-repeat; background-size:contain;}
.form-box  .btn-action .btn-cancel { background:#e8f2d0 url(../images/icon_x_w.png) center no-repeat; background-size:contain;}

.form-box .btn-action2 span{color:#6a3906; }
.form-box .btn-action2 .btn-01 { float:right; width:30%; color:#fff; background:#f49800 }
.form-box .btn-action2 .btn-02 { float:right; width:30%;color:#fff; background:#e60012 }

.form-box .btn-action3 input { display:block;  width:1.6rem; height:1.6rem; margin:0.3rem 0;}
.form-box .btn-action3 .btn-ok {  background:#e8f2d0 url(../images/icon_gou_w.png) center no-repeat; background-size:contain;}
.form-box .btn-action3 .btn-ok-s  { background:#fdecdf url(../images/icon_gou_w.png) center no-repeat; background-size:contain; }
.form-box .btn-action3 .btn-cancel { display:block;  background:#e8f2d0 url(../images/icon_x_w.png) center no-repeat; background-size:contain;}
.form-box .btn-action3 .btn-cancel-s  { background:#fdecdf url(../images/icon_x_w.png) center no-repeat; background-size:contain; }

.recom span { color:#e60012;}

.wp30 { width:30%;}
.wp60 { width:60%;}
.wp100 { width:100%;}
.ml1 { margin-left:1rem;}
.ml2 { margin-left:1.8rem;}
 
.con-mt {margin-top:0.3rem;}
.con-mb {margin-bottom:0.3rem;}
.con-mb2 {margin-bottom:1rem;}
.con-color {color:#fcfcfc;}
.con-font { font-size:0.6rem;}
.con-pd { padding:0.3rem 0.6rem;}
.con-pd-s { padding:0.3rem;}
.con-pd-l { padding:0.8rem 0.6rem;}
.con-pd-notop {padding:0.6rem; padding-top:0}
.con-pd-notb {padding:0 0.6rem;}
.con-tit { font-size:0.9rem; margin:0; padding:0.2rem; font-weight:400; text-align:center; }
.con-tit span {padding:0 0.3rem;}
.con-area { margin:0.3rem 0.2rem; border:#aaa 1px solid;}

.color-gray { color:#aaa;}
.color-red {color:#f00;}

.bgcolor-w{ background:#fff;}



.data-table { width:99%; border:none; margin:0 auto;}
.act-table  { width:99%; border:none; margin:0 auto;}
.act-table td{ width:30%; text-align:center;}
.bor-b-d { border-bottom:#fff 2px dotted;}
.act-table img {width:2rem; margin:0 auto;}
.sup-p2 span { color:#d81308; }


.table { width:100%; background:#9a6030;}
.table tr { border-bottom:#9a6030 1px dotted;}
.table tr:last-child {border-bottom:none;}
.table td { text-align:center;}


.info-table { width:100%; }
.info-table td { font-size:0.6rem; padding:0.4rem 0.3rem; border:#e2e1e1 0.3rem solid; background:#fff;}
.info-table span { color:#6a3906;}
.info-table td img { float:right; width:0.6rem;}

.inte-table { width:100%; }
.inte-table th { color:#6a3906; font-size:0.6rem; padding:0.2rem 0.1rem; border-bottom:#e2e1e1 0.2rem solid; background:#fff;  }
.inte-table td { color:#ce2e23; text-align:center; font-size:0.6rem; padding:0.2rem 0.1rem; border-bottom:#e2e1e1 0.2rem solid; background:#fff;}
.inte-table span { color:#6a3906;}

.demo { width:100%; text-align:center;}
.demo  select {
    width: 50%;
    border: none;
    color: #999;
}


.search-box .row {padding-left:5%; background:#9d7248;}
.search-box input{ height:1.5rem;border:none; }
.search-box .input-text{background:#ecebbf;  padding-left:0.5rem; width:100%;font-size:0.7rem;  color:#333;}
.search-box .btn-search {height:1.5rem; width:1.5rem; background:url(../images/icon_search.png) center center no-repeat; background-size:auto 60%; }

.search-box2 .row { background:none;}
.search-box2 input{ height:1.5rem;border:none;}
.search-box2 .input-text{background:#ecebbf;  padding-left:0.5rem; width:100%;font-size:0.7rem;  color:#333;}
.search-box2 .btn-search {height:1.5rem; width:1.5rem; background:#fff url(../images/icon_redarr.png) center center no-repeat; background-size:auto 50%; }
.search-box2 .name { font-size:0.8rem; margin-left:0.4rem; color:#fff202;}

.lists { font-size:0.6rem; color:#fff; background-color:none;}
.lists ul, .lists li { list-style:none; margin:0; padding:0;}
.lists .row { padding:0.8rem 0; padding-left:0.3rem;}
.lists .actions li{ /*margin:0.3rem 0;*/ width:2.5rem; padding-left:0.5rem; margin-left:0.2rem;}

.bor-b { border-bottom:#fba239 2px solid;}
.bor-b2 { border-bottom:#ffff00 2px dashed;}
.bor-l { border-left:#fffb76 2px dotted;}
.bor-t { border-top:#fffb76 2px dotted;}

.myinfo-top { margin:0; color:#fff; padding:0.7rem; background:url(../images/titbg2.jpg) no-repeat; background-size: 100% 100%; }
.myinfo-top .info-con { width:90%; margin:0 auto;}
.myinfo-top .info-con .text { padding-top:0.2rem; font-size:0.7rem; line-height:1.1rem;}
.avatar { float:left; margin-right:0.8rem; width:4rem; height:4rem; border:#f7aca4 0.25rem solid; border-radius:10rem;}

.video-item { height:6.5rem; }
.v-bg { background:url(../images/vimg.png) center no-repeat; background-size:contain; }