<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>工社活动-<{$Think.config.WEB_NAME}></title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="__PUBLIC__/template/admin/css/sm.css">
    <link rel="stylesheet" href="__PUBLIC__/template/admin/css/sm-extend.css">
    <link rel="stylesheet" href="__PUBLIC__/template/admin/css/main-admin.css">

  </head>
  <body>
    <div class="content-box no-top">
    <div class="main-con">
   <div class="food-p con-font con-color con-pd con-mb">
  <form action="__URL__/doactivity" method="POST">
  <table cellpadding="0" cellspacing="0" class="data-table">
<tr><td><div class="num-p con-color con-font con-pd-l con-mb" style="height:30px;margin-top:0px;padding-top:0px;margin-bottom:5px;padding-bottom:5px;"><div class="col-50">活动人数：<input name="allnumber" type="text" class="input-text" style="border-style:none;width:50%;"></div></div></td><td><div class="num-p con-color con-font con-pd-l con-mb" style="height:30px;margin-top:0px;padding-top:0px;margin-bottom:5px;padding-bottom:5px;"><div class="col-50">用户类型：<select name="usertype" class="input-text" style="border-style:none;width:50%;"><option value ="0">会员</option><volist name="usertype" id="usertype"><option value ="<{$usertype.id}>"><{$usertype.title}></option></volist></select></div></div></td></tr>
<tr><td><div class="num-p con-color con-font con-pd-l con-mb" style="height:30px;margin-top:0px;padding-top:0px;margin-bottom:5px;padding-bottom:5px;"><div class="col-50">用户积分：<input name="integral" type="text" class="input-text" style="border-style:none;width:50%;"></div></div></td><td><div class="num-p con-color con-font con-pd-l con-mb" style="height:30px;margin-top:0px;padding-top:0px;margin-bottom:5px;padding-bottom:5px;"><div class="col-50">携带人数：<input name="usernumber" type="text" class="input-text" style="border-style:none;width:50%;"></div></div></td></tr>
<tr><td colspan="2"><div class="num-p con-color con-font con-pd-l con-mb" style="height:30px;margin-top:0px;padding-top:0px;margin-bottom:15px;padding-bottom:5px;"><div class="col-50">活动简介：<textarea name="content" type="text" class="input-text" style="border-style:none;width:70%;"></textarea></div></div></td></tr>
     <tr><td colspan="2"><div class="intergral-action con-pd" ><input type="submit" value="添加" class="btn-intergral" style="border-style:none;width:50%;margin-bottom:-20px;padding-bottom:-10px;"></div></td></tr>
   </table>
   </form>
  </div>
   <div class="lists">
    <volist name="activity" id="activity">
    <div class="list-item">
     <div class="row bor-b no-gutter">
    <div class="col-100">
     <ul>
     <a href="__URL__/activitydetail/id/<{$activity.id}>">
     <li>活动编号：<{$activity.id}>　活动时间：<{$activity.date}>　活动人数：<{$activity.allnumber}><br>
     用户类型：<php>$id=$activity['usertype'];$m=M('user_type');$usertype=$m->where("id='$id'")->find();if($usertype){ echo $usertype['title']; }else{ echo '会员'; }</php>　用户积分：<{$activity.integral}>　携带人数：<{$activity.usernumber}><br>
     活动内容：<{$activity.content}>
     </li></a>
     </ul>
    </div>
    
    </div>
    </div>
    </volist>
   </div>
      
  </div>
  
  
</div>
    
    <nav class="bar bar-tab">
    <a class="tab-item external" href="/Admin">
      <span class="tab-label">返回导航</span>
    </a>
    </nav>

          
          
<script src="__PUBLIC__/template/admin/js/zepto.min.js"></script>
<script src="__PUBLIC__/template/admin/js/sm.js"></script>
<script src="__PUBLIC__/template/admin/js/sm-extend.js"></script>
  </body>
</html>