<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>后台管理-<{$Think.config.WEB_NAME}></title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="__PUBLIC__/template/admin/css/sm.css">
    <link rel="stylesheet" href="__PUBLIC__/template/admin/css/sm-extend.css">
    <link rel="stylesheet" href="__PUBLIC__/template/admin/css/main-admin.css">
     <style>
	  body { background:#171717;}
	 </style>
     
  </head>
  <body>
    <div class="content-box no-bottom no-top">
  <div class="main-nav">
    <div class="row">
      <div class="col-33 col-lit"><a href="__URL__/moneysupport"><img src="__PUBLIC__/template/admin/images/icon_big1.png" alt="资金支持"/></a></div>
      <div class="col-33 col-lit"><a href="__URL__/witsupport"><img src="__PUBLIC__/template/admin/images/icon_big2.png" alt="智慧支持"/></a></div>
      <div class="col-33 col-lit"><a href="__URL__/othersupport"><img src="__PUBLIC__/template/admin/images/icon_big3.png" alt="其他支持"/></a></div>
    </div>
    <div class="row">
      <div class="col-33 col-lit"><a href="__URL__/integral"><img src="__PUBLIC__/template/admin/images/icon_big4.png" alt="积分调整"/></a></div>
      <div class="col-33 col-lit"><a href="__URL__/identity"><img src="__PUBLIC__/template/admin/images/icon_big5.png" alt="身份审核"/></a></div>
      <div class="col-33 col-lit"><a href="__URL__/consult"><img src="__PUBLIC__/template/admin/images/icon_big6.png" alt="咨询管理"/></a></div>
    </div>
    <div class="row">
      <div class="col-33 col-lit"><a href="__URL__/food"><img src="__PUBLIC__/template/admin/images/icon_big7.png" alt="工社餐饮"/></a></div>
      <div class="col-33 col-lit"><a href="__URL__/activity"><img src="__PUBLIC__/template/admin/images/icon_big8.png" alt="工社活动"/></a></div>
      <div class="col-33 col-lit"><a href="__URL__/financial"><img src="__PUBLIC__/template/admin/images/icon_big9.png" alt="财务管理"/></a></div>
    </div>
    <div class="row">
      <div class="col-33 col-lit"><a href="__URL__/videos"><img src="__PUBLIC__/template/admin/images/icon_big10.png" alt="视频资料"/></a></div>
      <div class="col-33 col-lit"><a href="__URL__/stuff"><img src="__PUBLIC__/template/admin/images/icon_big11.png" alt="图文资料"/></a></div>
      <div class="col-33 col-lit"><a href="__URL__/manual"><img src="__PUBLIC__/template/admin/images/icon_big12.png" alt="员工手册"/></a></div>
    </div>
    <div class="row">
      <div class="col-33 col-lit"><a href="__URL__/obligationtype"><img src="__PUBLIC__/template/admin/images/icon_big16.png" alt="义务领域"/></a></div>
      <div class="col-33 col-lit"><a href="__URL__/users"><img src="__PUBLIC__/template/admin/images/icon_big14.png" alt="用户列表"/></a></div>
      <div class="col-33 col-lit"><a href="__URL__/consultationtype"><img src="__PUBLIC__/template/admin/images/icon_big15.png" alt="咨询领域"/></a></div>
      
    </div>
  </div>
</div>
    
    

          
          
<script src="__PUBLIC__/template/admin/js/zepto.min.js"></script>
<script src="__PUBLIC__/template/admin/js/sm.js"></script>
<script src="__PUBLIC__/template/admin/js/sm-extend.js"></script>
  </body>
</html>