<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>其他支持-<{$Think.config.WEB_NAME}></title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="__PUBLIC__/template/admin/css/sm.css">
    <link rel="stylesheet" href="__PUBLIC__/template/admin/css/sm-extend.css">
    <link rel="stylesheet" href="__PUBLIC__/template/admin/css/main-admin.css">

  </head>
  <body>
    <div class="content-box no-top">
    <div class="main-con">
    <volist name="oneothersupport" id="oneothersupport">
 <div class="sup-p con-font con-color con-pd bgcolor-1">
   <table cellpadding="0" cellspacing="0" class="data-table">
     <tr><td>姓名：<php>$uid=$oneothersupport['uid'];$m=M('user');$profile=$m->where("uid='$uid'")->find();echo $profile['name'];</php></td><td>状态：<span>待审核</span></td></tr>
     <tr><td>日期：<{$oneothersupport.date}></td><td>手机：<{$profile.mobile}></td></tr>
   </table>
    <div class="con-area con-pd-s">
      详情：<{$oneothersupport.content}>
    </div>
    <table cellpadding="0" cellspacing="0" class="act-table">
     <tr><td class="bor-b-d"><a href="__URL__/doothersupport/id/<{$oneothersupport.id}>/status/2/"><img src="__PUBLIC__/template/admin/images/icon_gou_w.png"/></a></td><td>&nbsp;</td><td class="bor-b-d"><a href="__URL__/deleteothersupport/id/<{$oneothersupport.id}>"><img src="__PUBLIC__/template/admin/images/icon_x_w.png"/></a></td></tr>
    </table>
    
  </div>
  </volist>
  <volist name="twoothersupport" id="twoothersupport">
    <div class="sup-p2 con-font con-pd bgcolor-w con-mt">
   <table cellpadding="0" cellspacing="0" class="data-table">
     <tr><td>姓名：<php>$uid=$twoothersupport['uid'];$m=M('user');$twoprofile=$m->where("uid='$uid'")->find();echo $twoprofile['name'];</php></td><td>状态：<span>已通过</span></td></tr>
     <tr><td>日期：<{$twoothersupport.date}></td><td><{$twoprofile.mobile}></td></tr>
   </table>
  </div>
  </volist>
  
  
  </div>
  
  
</div>
    <nav class="bar bar-tab">
    <a class="tab-item external" href="/Admin">
      <span class="tab-label">返回导航</span>
    </a>
    </nav>
    

          
          
<script src="__PUBLIC__/template/admin/js/zepto.min.js"></script>
<script src="__PUBLIC__/template/admin/js/sm.js"></script>
<script src="__PUBLIC__/template/admin/js/sm-extend.js"></script>
  </body>
</html>