<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>活动报名详情-<{$Think.config.WEB_NAME}></title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="__PUBLIC__/template/admin/css/sm.css">
    <link rel="stylesheet" href="__PUBLIC__/template/admin/css/sm-extend.css">
    <link rel="stylesheet" href="__PUBLIC__/template/admin/css/main-admin.css">

  </head>
  <body>
    <div class="content-box no-top">
    <div class="main-con">
        <div class="lists" style="margin-top:-20px;">
    <div class="list-item">
     <div class="row bor-b no-gutter">
    <div class="col-100">
     <ul>
     <li>活动编号：<{$activity.id}>　活动时间：<{$activity.date}>　活动人数：<{$activity.allnumber}><br>
     用户类型：<php>$id=$activity['usertype'];$m=M('user_type');$usertype=$m->where("id='$id'")->find();if($usertype){ echo $usertype['title']; }else{ echo '会员'; }</php>　用户积分：<{$activity.integral}>　携带人数：<{$activity.usernumber}><br>
     活动内容：<{$activity.content}>
     </li>
     </ul>
    </div>
    
    </div>
    </div>
   </div>
  <div class="food-p2 con-font con-pd bgcolor-w">
    <table width="99%" cellpadding="0" cellspacing="0" class="data-table">
    <tr>
      <td>姓名</td>
      <td>手机</td>
      <td>人数</td>
    </tr>
    <volist name="activitydetail" id="activitydetail">
    <tr>
      <td><php>$uid=$activitydetail['uid'];$m=M('user');$profile=$m->where("uid='$uid'")->find(); echo $profile['name'];</php></td>
      <td><{$profile.mobile}></td>
      <td><{$activitydetail.number}></td>
    </tr>
    </volist>
</table>

  </div>
  
  </div>
  
  
</div>
    
    <nav class="bar bar-tab">
    <a class="tab-item external" href="/Admin">
      <span class="tab-label">返回导航</span>
    </a>
    </nav>

          
          
<script src="__PUBLIC__/template/admin/js/zepto.min.js"></script>
<script src="__PUBLIC__/template/admin/js/sm.js"></script>
<script src="__PUBLIC__/template/admin/js/sm-extend.js"></script>
  </body>
</html>