<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>用户列表-<{$Think.config.WEB_NAME}></title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="__PUBLIC__/template/admin/css/sm.css">
    <link rel="stylesheet" href="__PUBLIC__/template/admin/css/sm-extend.css">
    <link rel="stylesheet" href="__PUBLIC__/template/admin/css/main-admin.css">

  </head>
  <body>
    <div class="content-box no-top">
    <div class="main-con">
  <div class="search-box">
  <form method="post" action="__URL__/dosearchuser/">
    
    <div class="row no-gutter">
    <div class="col-90"><input name="mobile" type="text" placeholder="输入手机号进行搜索" class="input-text"></div>
    <div class="col-10"><input name="submit" type="submit" value=" " class="btn-search"></div>
    </div>
   
  </form>
   </div>
   
   <div class="lists">
    <volist name="userlist" id="userlist">
    <div class="list-item">
     <div class="row bor-b no-gutter">
    <div class="col-100">
     <ul>
     <li>姓名：<{$userlist.name}>　性别：<if condition="$userlist['sex']==1">男<else />女</if>　出生日期：<{$userlist.birth}><br>手机号：<{$userlist.mobile}>　推荐人：<{$userlist.rmobile}><br>入会日期：<{$userlist.joindate}>　积分：<{$userlist.score}>　身份：<php>$id=$userlist['type'];$m=M('user_type');$usertype=$m->where("id='$id'")->find();if($usertype){ echo $usertype['title']; }else{ echo "会员"; }</php><br>地址：<{$userlist.address}>
</li>
     </ul>
    </div>
    
    </div>
    </div>
    </volist>
   </div>
      
  </div>
  
  
</div>
    
    <nav class="bar bar-tab">
    <a class="tab-item external" href="/Admin">
      <span class="tab-label">返回导航</span>
    </a>
    </nav>

          
          
<script src="__PUBLIC__/template/admin/js/zepto.min.js"></script>
<script src="__PUBLIC__/template/admin/js/sm.js"></script>
<script src="__PUBLIC__/template/admin/js/sm-extend.js"></script>
  </body>
</html>