<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>视频资料-<{$Think.config.WEB_NAME}></title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="__PUBLIC__/template/css/sm.css">
    <link rel="stylesheet" href="__PUBLIC__/template/css/sm-extend.css">
    <link rel="stylesheet" href="__PUBLIC__/template/css/main.css">
          
  </head>
  <body>
    <div class="content-box no-top">
       <div class="main-con">
        <volist name="video" id="video">
        <a href="<{$video.url}>"><div class="con-font con-pd bgcolor-w con-mb">
              <div class="row v-bg video-item">
              <img src="<{$video.thumb}>" style="height:100%;width:100%;">
              </div>
              <p style="color:#000"><{$video.title}><span style="float:right;"><{$video.date}></span></p>
        </div></a>
        </volist>
       </div>
    </div>
    
    <nav class="bar bar-tab">
    <a class="tab-item external" href="__URL__/index">
      <span class="tab-label">工社服务</span>
    </a>
    <a class="tab-item external active" href="__URL__/video">
      <span class="tab-label">视频资料</span>
    </a>
    <a class="tab-item external" href="__URL__/teletext">
      <span class="tab-label">图文资料</span>
    </a>
    <a class="tab-item external" href="__URL__/usermanual">
      <span class="tab-label">会员手册</span>
    </a>
   
  </nav>

          
          
<script src="__PUBLIC__/template/js/zepto.min.js"></script>
<script src="__PUBLIC__/template/js/sm.js"></script>
<script src="__PUBLIC__/template/js/sm-extend.js"></script>
  </body>
</html>