<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>工社</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="css/sm.css">
    <link rel="stylesheet" href="css/sm-extend.css">
     <link rel="stylesheet" href="css/main.css">
          
  </head>
  <body>
  
  
    <h1 class="bigtit">义务管理</h1>
    
    <div class="content-box">
       <div class="main-con">
       
         <div class="con-font con-pd bgcolor-w con-mb">
           <form class="form-box" action="">
              <div class="row">
              <textarea class="textarea-unit3" placeholder="具体内容具体内容具体内容
具体内容具体内容具体内容
具体内容具体内容具体内容
"></textarea>
              </div>
              <div class="row btn-action">
              <input name="ok" type="button" value="" class="btn-ok">
              <input name="cancel" type="button" value="" class="btn-cancel">
              </div>
              </form>
        </div>
        
  <div class="con-font con-pd bgcolor-w con-mb">
        <form class="form-box" action="">
              <div class="row">
              <textarea class="textarea-unit3" placeholder="具体内容具体内容具体内容
具体内容具体内容具体内容
具体内容具体内容具体内容
"></textarea>
              </div>
              <div class="row btn-action2">
               <input name="ok" type="button" value="处理中" class="btn-01"><span>2016/02/03</span>
              </div>
              
           </form>   
        </div>
  
  <div class="con-font con-pd bgcolor-w con-mb">
        <form class="form-box" action="">
              <div class="row">
              <textarea class="textarea-unit3" placeholder="具体内容具体内容具体内容
具体内容具体内容具体内容
具体内容具体内容具体内容
"></textarea>
              </div>
              <div class="row btn-action2">
               <input name="ok" type="button" value="已完成" class="btn-02"><span>2016/02/03</span>
              </div>
              
           </form>   
        </div>
       </div>
    </div>
    
              
          
<script src="js/zepto.min.js"></script>
<script src="js/sm.js"></script>
<script src="js/sm-extend.js"></script>
  </body>
</html>