<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>工社</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="css/sm.css">
    <link rel="stylesheet" href="css/sm-extend.css">
     <link rel="stylesheet" href="css/main.css">
          
  </head>
  <body>
  
  
    
    <div class="content-box no-top">           
    
    <div class="myinfo-top">
       
        <div class="info-con clearfix">
       <img src="images/avatar.jpg" class="avatar">
         <div class="text">身份：义工<br>积分：50<br>入会日期：2016.02.02</div>
        </div>
      
    </div>

       <div class="main-con main-con2">

         <div class="con-font con-mb">
           <table cellpadding="2" cellspacing="2" border="1" class="info-table">
     <tr><td>姓名： <span>张三丰</span></td><td>性别： <span>男</span></td></tr>
     <tr><td>出生日期：<span><input type="date" placeholder="Birth day" value="2014-04-30"></span></td><td>手机号：<span>13819089897</span></td></tr>
     <tr><td>推介人：<span>13819809878</span></td><td>比对：<span>申请/处理中/已通过</span></td></tr>
     <tr><td>身份申请：（义工）</td><td>我的推荐：(6)</td></tr>
     <tr><td>财务监管：(&amp; /&amp;)）<img src="images/locked.png" class="icon-lock"></td><td>申请：(&amp; /&amp;)<img src="images/locked.png" class="icon-lock"></td></tr>
     <tr><td colspan="2">地址：<span>宁波市鄞州区鲜香镇镇中路2号</span></td></tr>
   </table>
        </div>
  
  
  
  
  
  
       </div>
       
       
       
       
    </div>
    
    
    
    
    <nav class="bar bar-tab">
    <a class="tab-item external" href="#">
      <span class="tab-label">综合信息</span>
    </a>
    <a class="tab-item external" href="#">
      <span class="tab-label">提供支持</span>
    </a>
    <a class="tab-item external active" href="#">
      <span class="tab-label">我的信息</span>
    </a>
   
  </nav>

          
          
<script src="js/zepto.min.js"></script>
<script src="js/sm.js"></script>
<script src="js/sm-extend.js"></script>
  </body>
</html>