<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>义工社</title>

  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">

  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>

  <link rel="icon" type="image/png" href="assets/i/favicon.png">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="assets/i/app-icon72x72@2x.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileColor" content="#0e90d2">

  <link rel="stylesheet" href="assets/css/amazeui.min.css">
  <link rel="stylesheet" href="assets/css/app.css">
</head>
<body>
  <header data-am-widget="header"
          class="am-header am-header-default">
      <div class="am-header-left am-header-nav">
          <a href="#left-link" class="">

                <i class="am-header-icon am-icon-home"></i>
          </a>
      </div>

      <h1 class="am-header-title">
          <a href="" class="">
            提供支持
          </a>
      </h1>

      <div class="am-header-right am-header-nav">
          <a href="#right-link" class="">
<img src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEJp4BW1UydINRymKI5rpibeGh3R6BjOK1qynDJraZ46QPzQ6f29qYWibBcl0GGibccRWPcAd7z0BbBibQ/0" alt="" class="am-comment-avatar" style="width:35px;height:35px;margin-top:8px;margin-bottom:8px;">
          </a>
      </div>
  </header>
  <div class="am-titlebar am-titlebar-multi" style="padding-top:1px;margin-top:0px;">
    <h2 class="am-titlebar-title ">
        智慧支持
    </h2>
  </div>
<form class="am-form">
  <fieldset style="padding-bottom:0px;margin-bottom:-30px;">
    <div class="am-form-group">
      <a class="am-btn am-btn-primary" style="width:49%;height:80px;text-align:center;line-height:60px;">义务工作（...）</a>&nbsp<a class="am-btn am-btn-primary" style="width:49%;height:80px;text-align:center;line-height:60px;">咨询顾问（...）</a>
    </div>
  </fieldset>
</form>
  <div data-am-widget="titlebar" class="am-titlebar am-titlebar-multi" >
    <h2 class="am-titlebar-title ">
        资金支持
    </h2>
  </div>
<form class="am-form">
  <fieldset style="padding-bottom:0px;margin-bottom:-22px;">
    <div class="am-form-group" style="float:left;margin-bottom:8px;">
	  <div style="float:left;"><i class="am-icon-bank"></i>&nbsp银&nbsp&nbsp&nbsp行 <B>招商银行</B>&nbsp&nbsp<i class="am-icon-user-md"></i>&nbsp户名 <B>宁波市志和义工社</B> </div>
	  <div style="float:left;"><i class="am-icon-hospital-o"></i>&nbsp开户行 <B>宁波分行</B>&nbsp&nbsp<i class="am-icon-user"></i>&nbsp账号 <B>410**********999</B></div>
      <span class="am-form-caret"></span>
    </div>
    <div class="am-form-group" style="float:left;margin-bottom:8px;">
	  <div style="float:left;line-height:39px;"><i class="am-icon-bank"></i>&nbsp资助额&nbsp</div><input type="text" style="float:left;width:50%;height:39px;" placeholder="请输入资助金额" /><input type="submit" class="am-btn am-btn-primary" style="float:right;height:39px;" value="复核中" />
    </div>
  </fieldset>
</form>
  <div data-am-widget="titlebar" class="am-titlebar am-titlebar-multi" >
    <h2 class="am-titlebar-title ">
        其他支持
    </h2>
  </div>
<form class="am-form">
  <fieldset style="padding-bottom:0px;margin-bottom:-22px;">
    <div class="am-form-group" style="margin-bottom:8px;">
      <textarea class="" rows="5" id="doc-ta-1" placeholder="填写详情（50字以内）" style="height:80px;"></textarea>
    </div>
	<input type="submit" class="am-btn am-btn-primary" style="float:right;height:39px;width:100%" value="申请" />
  </fieldset>
</form>




<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default "
     id="">
  <ul class="am-navbar-nav am-cf am-avg-sm-4">
    <li>
      <a href="">
        <span class="am-icon-server"></span>
        <span class="am-navbar-label">综合信息</span>
      </a>
    </li>
    <li>
      <a href="">
        <span class="am-icon-support"></span>
        <span class="am-navbar-label">提供支持</span>
      </a>
    </li>
    <li>
      <a href="">
        <span class="am-icon-user"></span>
        <span class="am-navbar-label">我的信息</span>
      </a>
    </li>
  </ul>
</div>
<!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="assets/js/amazeui.min.js"></script>
</body>
</html>