<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>工社后台</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="css/sm.css">
    <link rel="stylesheet" href="css/sm-extend.css">
     <link rel="stylesheet" href="css/main-admin.css">

  </head>
  <body>
    <h1 class="bigtit">咨询管理</h1>
    
    <div class="content-box no-bottom">
    <div class="main-con">
    
    <div class="senfen-p con-font con-color con-pd-s con-mb bgcolor-10">
 身份要求（不限/会员/义工/代表/理事）积分（>20）
    </div>
        
 <div class="consult-p con-font con-color con-pd con-mb bgcolor-1">
  <table cellpadding="0" cellspacing="0" class="data-table">
     <tr><td>申请日期：2016/02/03</td><td>&nbsp;</td></tr>
     <tr><td>姓名：张三</td><td>状态：<span>待处理</span></td></tr>
     <tr><td>问题类型：家庭教育</td><td>手机：13818186888</td></tr>
   </table>
   <div class="con-area con-pd">
  问题详情描述问题详情描述<br>
问题详情描述问题详情描述
   </div>
   <div class="con-bot">
   <div class="row no-gutter">
    <div class="col-60"><select><option>手机号</option></select> <span class="con-color">徐某某</span></div>
    <div class="col-40"><input type="submit" value="发送" class="btn-send"></div>
    </div>
   </div>
  </div>
  
  <div class="consult-p con-font con-color con-pd con-mb bgcolor-11">
  <table cellpadding="0" cellspacing="0" class="data-table">
     <tr><td>申请日期：2016/02/03</td><td>&nbsp;</td></tr>
     <tr><td>姓名：张三</td><td>状态：<span>发送中</span></td></tr>
     <tr><td>问题类型：家庭教育</td><td>手机：13818186888</td></tr>
   </table>
   <div class="con-area-dark con-pd">
  问题详情描述问题详情描述<br>
问题详情描述问题详情描述
   </div>
   <div class="con-bot">
   <div class="row no-gutter">
    <div class="col-60">13867546788 <span class="con-color">徐某某</span></div>
    </div>
   </div>
  </div>
  
  <div class="sup-p2 con-font con-pd bgcolor-5 con-mt">
   <table cellpadding="0" cellspacing="0" class="data-table">
     <tr><td>日期：2016-3-16</td><td>&nbsp;</td></tr>
     <tr><td>姓名：李四</td><td>状态：<span>处理中</span></td></tr>
     <tr><td>问题类型：夫妻感情</td><td>手机：13818186888</td></tr>
   </table>
  </div>
  
  <div class="sup-p2 con-font con-pd bgcolor-w con-mt">
   <table cellpadding="0" cellspacing="0" class="data-table">
     <tr><td>日期：2016-3-16</td><td>&nbsp;</td></tr>
     <tr><td>姓名：李四</td><td>状态：<span>已完成</span></td></tr>
     <tr><td>问题类型：夫妻感情</td><td>手机：13818186888</td></tr>
   </table>
  </div>

  </div>
  
  
</div>
    
    

          
          
<script src="js/zepto.min.js"></script>
<script src="js/sm.js"></script>
<script src="js/sm-extend.js"></script>
  </body>
</html>