<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>工社后台</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="css/sm.css">
    <link rel="stylesheet" href="css/sm-extend.css">
     <link rel="stylesheet" href="css/main-admin.css">

  </head>
  <body>
    <h1 class="bigtit">工社餐饮</h1>
    
    <div class="content-box no-bottom">
    <div class="main-con">
 <div class="food-p con-font con-color con-pd con-mb">
  <table cellpadding="0" cellspacing="0" class="data-table">
     <tr><td>总人数：50</td><td>身份要求（会员/义工/代表/理事）</td></tr>
     <tr><td>积分：（>20）</td><td>携带人数（<3）</td></tr>
   </table>
  </div>
  <div class="food-p2 con-font con-pd bgcolor-w">
    <table width="99%" cellpadding="0" cellspacing="0" class="data-table">
    <tr>
      <td>日期</td>
      <td>姓名</td>
      <td>人数</td>
      <td>手机</td>
      <td>时间</td>
    </tr>
    <tr>
      <td>02/03</td>
      <td>张三一</td>
      <td>2</td>
      <td>139876567483</td>
      <td>中午</td>
    </tr>
    <tr>
      <td>02/03</td>
      <td>李四二</td>
      <td>1</td>
      <td>139876567483</td>
      <td>晚上</td>
    </tr>
</table>

  </div>
  
  </div>
  
  
</div>
    
    

          
          
<script src="js/zepto.min.js"></script>
<script src="js/sm.js"></script>
<script src="js/sm-extend.js"></script>
  </body>
</html>