<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>工社后台</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="css/sm.css">
    <link rel="stylesheet" href="css/sm-extend.css">
     <link rel="stylesheet" href="css/main-admin.css">

  </head>
  <body>
    <h1 class="bigtit bot-line">员工手册</h1>
    
    <div class="content-box no-bottom">
    <div class="main-con">
 <div class="manual-p con-font con-color con-pd-s con-mb">
     <div class="con-area con-pd">
     <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
   </div>
   </div>
  <div class="manual-action con-pd"><input type="submit" value="我已阅读并同意员工手册条款" class="btn-agree"></div>
  
  </div>
  
  
</div>
    
    

          
          
<script src="js/zepto.min.js"></script>
<script src="js/sm.js"></script>
<script src="js/sm-extend.js"></script>
  </body>
</html>