<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>工社后台</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="css/sm.css">
    <link rel="stylesheet" href="css/sm-extend.css">
     <link rel="stylesheet" href="css/main-admin.css">

  </head>
  <body>
    <h1 class="bigtit bot-line">其他支持</h1>
    
    <div class="content-box no-bottom">
    <div class="main-con">
 <div class="sup-p con-font con-color con-pd bgcolor-1">
   <table cellpadding="0" cellspacing="0" class="data-table">
     <tr><td>类型：物品</td><td>&nbsp;</td></tr>
     <tr><td>姓名：张三</td><td>状态：<span>待审核</span></td></tr>
     <tr><td>日期：2016-3-16</td><td>手机：13818186888</td></tr>
   </table>
    <div class="con-area con-pd-s">
      详情：提供一个茶具，提供一个茶具提供一个茶具提供一个茶具提供一个茶具提供一个茶具。
    </div>
    <table cellpadding="0" cellspacing="0" class="act-table">
     <tr><td class="bor-b-d"><img src="images/icon_gou_w.png"/></td><td>&nbsp;</td><td class="bor-b-d"><img src="images/icon_x_w.png"/></td></tr>
    </table>
    
  </div>
  
  <div class="sup-p2 con-font con-pd bgcolor-w con-mt">
   <table cellpadding="0" cellspacing="0" class="data-table">
     <tr><td>类型：场地</td><td>&nbsp;</td></tr>
     <tr><td>姓名：李四</td><td>状态：<span>已通过</span></td></tr>
     <tr><td>日期：2016-3-16</td><td>手机：13818186888</td></tr>
   </table>
  </div>
  
  <div class="sup-p2 con-font con-pd bgcolor-w con-mt">
   <table cellpadding="0" cellspacing="0" class="data-table">
     <tr><td>类型：场地</td><td>&nbsp;</td></tr>
     <tr><td>姓名：李四</td><td>状态：<span>已通过</span></td></tr>
     <tr><td>日期：2016-3-16</td><td>手机：13818186888</td></tr>
   </table>
  </div>
  
  </div>
  
  
</div>
    
    

          
          
<script src="js/zepto.min.js"></script>
<script src="js/sm.js"></script>
<script src="js/sm-extend.js"></script>
  </body>
</html>