<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>工社后台</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="css/sm.css">
    <link rel="stylesheet" href="css/sm-extend.css">
     <link rel="stylesheet" href="css/main-admin.css">

  </head>
  <body>
    <h1 class="bigtit">智慧支持<small> （详情）</small></h1>
    
    <div class="content-box no-bottom">
    <div class="main-con">
 <div class="intr-p con-font con-color con-pd bgcolor-1">
  申请日期：2016/02/03<br>
  姓名：张三　性别：男<br>
出生日期：2010/03/09　积分：20　身份：义工<br>
手机号：13123455678　推荐人：13498756543
  </div>
  
  <div class="area-p con-font con-color con-pd-notop bgcolor-2 con-mt">
  <h3 class="con-tit"><span class="bgcolor-6">义务领域</span></h3>
  <div class="con-area con-pd">
  义务描述义务描述义务描述<br>
义务描述义务描述义务描述
   </div> 
  </div>
  
 <div class="profile-p con-font con-color con-pd-notop bgcolor-3 con-mt">
  <h3 class="con-tit"><span class="bgcolor-7">自我介绍</span></h3>
  <div class="con-area con-pd">
  xxxxxxxxxx<br>
xxxxxxxxxxxxxxxxxx
   </div> 
  </div> 
  
  <div class="timelist-p con-font con-pd-notop bgcolor-4 con-mt">
  <h3 class="con-tit"><span class="bgcolor-8">时间表</span></h3>
  <div class="con-pd">
  1 2 3 4 5 6 7 8 9<br>
10 11 12
   </div> 
  </div>
  
  <div class="ywgl">
        <div class="ywgl-item con-font con-pd-notb bgcolor-w con-mt">
     <div class="row no-gutter">
    <div class="col-80">
     <ul>
     <li>义务管理</li>
     <li><span class="bgcolor-10">未审核</span></li>
     </ul>
    </div>
    <div class="col-20">
      <ul class="actions">
       <li class="bor-l"><a href="#"><img src="images/icon_gou0.png" alt=""/></a></li>
       <li class="bor-l bor-t"><a href="#"><img src="images/icon_x0.png" alt=""/></a></li>
      </ul>
    </div>
    </div>
    </div>
   </div>
  
  <div class="zhixun-p con-font con-pd-notop bgcolor-5 con-mt">
  <h3 class="con-tit"><span class="bgcolor-9">咨询义务</span></h3>
  <div class="zhixun-p-con">
  咨询总数（<span>1</span>）　当前咨询（<span>5</span>）<br>
完成咨询（<span>10</span>）　咨询领域（<span>家庭教育</span>）
   </div> 
  </div>
  </div>
  
  
</div>
    
    

          
          
<script src="js/zepto.min.js"></script>
<script src="js/sm.js"></script>
<script src="js/sm-extend.js"></script>
  </body>
</html>