<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>工社后台</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="css/sm.css">
    <link rel="stylesheet" href="css/sm-extend.css">
     <link rel="stylesheet" href="css/main-admin.css">

  </head>
  <body>
    <h1 class="bigtit">智慧支持</h1>
    
    <div class="content-box no-bottom">
    <div class="main-con">
  <div class="form-box">
  <form method="post" action="">
    
    <div class="row no-gutter">
    <div class="col-10"><input name="submit" type="submit" value=" " class="btn-search"></div>
    <div class="col-90"><input name="text" type="text" placeholder="输入手机号搜索" class="input-text"><label>义务领域</label><select><option>请选择</option></select><label>时间表</label><input name="text" type="text" value="20" class="input-text2"></div>
    </div>
   
  </form>
   </div>
   
   <div class="lists">
    <div class="list-item">
     <div class="row bor-b no-gutter">
    <div class="col-100">
     <ul>
     <a href="witSupport-detail.html">
     <li>申请日期：2016/02/03<br>
姓名：张三　性别：男<br>
出生日期：2010/03/09　积分：20　身份：义工<br>
业务领域：系统开发　当前任务：1　当前咨询：2
</li></a>
     </ul>
    </div>
    
    </div>
    </div>
    
    <div class="list-item">
     <div class="row bor-b no-gutter">
    <div class="col-100">
     <ul>
     <li>申请日期：2016/02/03<br>
姓名：张三　性别：男<br>
出生日期：2010/03/09　积分：20　身份：义工<br>
业务领域：系统开发　申请：N</li>
     </ul>
    </div>
    </div>
    </div>
   </div>
      
  </div>
  
  
</div>
    
    

          
          
<script src="js/zepto.min.js"></script>
<script src="js/sm.js"></script>
<script src="js/sm-extend.js"></script>
  </body>
</html>