<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>工社</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="css/sm.css">
    <link rel="stylesheet" href="css/sm-extend.css">
     <link rel="stylesheet" href="css/main.css">
          
  </head>
  <body>
  
  
    <h1 class="bigtit">义工/代表/理事申请</h1>
    
    <div class="content-box">
       <div class="main-con">
   
  <form class="form-box">
  <div class="con-font con-pd bgcolor-w con-mb2">
           
              <div class="row">
              <textarea class="textarea-unit2" placeholder="申请叙述（200字）
申请义工（积分≥10）；
申请代表（积分≥100）；
申请理事（积分≥1000）"></textarea>
              </div>
              
         
        </div>
  <div class="text-center"><input type="submit" class="btn-submit2 wp60" value="提 交"></div>
    </form>
       </div>
       
       
       
       
    </div>
    


          
          
<script src="js/zepto.min.js"></script>
<script src="js/sm.js"></script>
<script src="js/sm-extend.js"></script>
  </body>
</html>