<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>工社</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="css/sm.css">
    <link rel="stylesheet" href="css/sm-extend.css">
     <link rel="stylesheet" href="css/main.css">
          
  </head>
  <body>
  
  
    <h1 class="bigtit">视频资料</h1>
    
    <div class="content-box">
       <div class="main-con">
       
        <div class="con-font con-pd bgcolor-w con-mb">
              <div class="row v-bg video-item">
              
              </div>
        </div>
        <div class="con-font con-pd bgcolor-w con-mb">
              <div class="row v-bg video-item">
              
              </div>
        </div>
        <div class="con-font con-pd bgcolor-w con-mb">
              <div class="row v-bg video-item">
              
              </div>
        </div>
  
       </div>
    </div>
    
    <nav class="bar bar-tab">
    <a class="tab-item external" href="#">
      <span class="tab-label">综合信息</span>
    </a>
    <a class="tab-item external active" href="#">
      <span class="tab-label">视频资料</span>
    </a>
    <a class="tab-item external" href="#">
      <span class="tab-label">图文资料</span>
    </a>
    <a class="tab-item external" href="#">
      <span class="tab-label">会员手册</span>
    </a>
   
  </nav>

          
          
<script src="js/zepto.min.js"></script>
<script src="js/sm.js"></script>
<script src="js/sm-extend.js"></script>
  </body>
</html>