<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>工社后台</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="css/sm.css">
    <link rel="stylesheet" href="css/sm-extend.css">
     <link rel="stylesheet" href="css/main-admin.css">

  </head>
  <body>
    <h1 class="bigtit bot-line pos-r">义务管理<small>（详情）</small><span>张三</span></h1>
    
    <div class="content-box no-bottom">
    <div class="main-con">
    
           
 <div class="duty-p con-font con-color con-pd con-mb bgcolor-1">
  <div class="duty-cata">业务领域 <select><option>请选择</option></select> </div>
   <div class="con-area con-pd">
  请输入具体内容<br>

   </div>
   <div class="con-bot">
   <div class="row no-gutter">
    <div class="col-100">2016/02/03<span class="fr">发送/发送中/完成</span></div>
    </div>
   </div>
  </div>
  
  <div class="duty-p2 con-font con-color con-pd-notop bgcolor-1 con-mt">
  <h3 class="con-tit"><span class="bgcolor-7">义务标题</span></h3>
  <div class="con-area-dark con-pd">
  具体内容具体内容具体内容<br>
具体内容具体内容具体内容
   </div> 
   <div class="con-bot">
   <div class="row no-gutter">
    <div class="col-100">2016/02/03<span class="fr color-b">发送中</span></div>
    </div>
   </div>
  </div>
  
  <div class="duty-p2 con-font con-color con-pd-notop bgcolor-3 con-mt">
  <h3 class="con-tit"><span class="bgcolor-7">义务标题</span></h3>
  <div class="con-area-dark con-pd">
  具体内容具体内容具体内容<br>
具体内容具体内容具体内容
   </div> 
   <div class="con-bot">
   <div class="row no-gutter">
    <div class="col-100">2016/02/03<span class="fr color-y">处理中</span></div>
    </div>
   </div>
  </div>

  <div class="duty-p2 con-font con-pd-notop bgcolor-w con-mt">
  <h3 class="con-tit"><span class="bgcolor-2 color-b">义务标题</span></h3>
  <div class="con-area-dark con-pd">
  具体内容具体内容具体内容<br>
具体内容具体内容具体内容
   </div> 
   <div class="con-bot">
   <div class="row no-gutter">
    <div class="col-100">2016/02/03<span class="fr color-r">完成</span></div>
    </div>
   </div>
  </div>
  </div>
  
  
</div>
    
    

          
          
<script src="js/zepto.min.js"></script>
<script src="js/sm.js"></script>
<script src="js/sm-extend.js"></script>
  </body>
</html>