<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>工社后台</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="css/sm.css">
    <link rel="stylesheet" href="css/sm-extend.css">
     <link rel="stylesheet" href="css/main-admin.css">

  </head>
  <body>
    <h1 class="bigtit bot-line">积分调整</h1>
    
    <div class="content-box no-bottom">
    <div class="main-con">
  <div class="integral-p con-pd-l con-mb bor-b2">
  <div class="search-box2">
  <form method="post" action="">
    <div class="row no-gutter">
    <div class="col-66"><input name="text" type="text" placeholder="输入手机号" class="input-text"></div>
    <div class="col-33"><input name="submit" type="submit" value=" " class="btn-search"><span class="name">徐某某</span></div>
    </div>
   
  </form>
   </div>
  </div>
  <div class="tag-p con-color con-font con-pd-l con-mb bor-b2">
    <div class="row no-gutter">
    <div class="col-25">调整缘由</div>
    <div class="col-75"><a href="">资金</a> <a href="" class="active">智慧</a> <a href="">推荐</a> <a href="">其他</a></div>
    </div>
  </div>
  <div class="num-p con-color con-font con-pd-l con-mb bor-b2">
    <div class="row no-gutter">
    <div class="col-25">调整数值</div>
    <div class="col-20">
    <a href="" class="jia">+</a> <a href="" class="jian">-</a> 
    </div>
    <div class="col-50"><input name="text" type="text" placeholder="100" class="input-text"></div>
    </div>
  </div>
  
  <div class="intergral-action con-pd"><input type="submit" value="确 定" class="btn-intergral"></div>
  </div>
  
  
</div>
    
    

          
          
<script src="js/zepto.min.js"></script>
<script src="js/sm.js"></script>
<script src="js/sm-extend.js"></script>
  </body>
</html>