<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>积分记录-<{$Think.config.WEB_NAME}></title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="__PUBLIC__/template/css/sm.css">
    <link rel="stylesheet" href="__PUBLIC__/template/css/sm-extend.css">
    <link rel="stylesheet" href="__PUBLIC__/template/css/main.css">
          
  </head>
  <body>
    <div class="content-box no-top">
       <div class="main-con">
         <div class="con-font bgcolor-w con-mb">
     <table cellpadding="2" cellspacing="2" border="0" class="inte-table">
     <tr><td style="color:#000000;">日期</td><td style="color:#000000;">缘由</td><td style="color:#000000;">积分</td></tr>
     <volist name="integralrecord" id="integralrecord">
     <if condition="$integralrecord['tid']==0">
     <tr><td><{$integralrecord.date}></td><td><{$integralrecord.reason}></td><td>+<{$integralrecord.income}></td></tr>
     <else />
     <tr><td><{$integralrecord.date}></td><td><{$integralrecord.reason}></td><td>-<{$integralrecord.expenditure}></td></tr>
     </if>
     </volist>
   </table>
        </div>
        
  
       </div>
       <!--<div class="con-font con-pd text-center color-gray bgcolor-w con-mb2">
          联系电话：<a href="tel:<{$Think.config.WEB_TELEPHONE}>" style="color:#000000"><{$Think.config.WEB_TELEPHONE}></a>  技术支持：<a href="http://www.singka.cn" style="color:#000000">晟嘉网络</a>
       </div>-->
    </div>
    <nav class="bar bar-tab">
    <a class="tab-item external" href="/">
      <span class="tab-label">综合信息</span>
    </a>
    <a class="tab-item external" href="__URL__/support">
      <span class="tab-label">提供支持</span>
    </a>
    <a class="tab-item external active" href="__URL__/index">
      <span class="tab-label">我的信息</span>
    </a>
   
  </nav>
              
          
<script src="__PUBLIC__/template/js/zepto.min.js"></script>
<script src="__PUBLIC__/template/js/sm.js"></script>
<script src="__PUBLIC__/template/js/sm-extend.js"></script>
  </body>
</html>