<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>我的推荐-<{$Think.config.WEB_NAME}></title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="__PUBLIC__/template/css/sm.css">
    <link rel="stylesheet" href="__PUBLIC__/template/css/sm-extend.css">
    <link rel="stylesheet" href="__PUBLIC__/template/css/main.css">
          
  </head>
  <body>
    <div class="content-box no-top">
       <div class="main-con">
       <volist name="myrecommend" id="myrecommend">
         <div class="con-font con-pd bgcolor-w con-mb">
           <form class="form-box" action="">
              <div class="row recom btn-action3">
               <div class="col-80">
                  日期：<{$myrecommend.joindate}>  <br>
姓名：<{$myrecommend.name}><br>
手机：<{$myrecommend.mobile}><br>
状态：<span><if condition="$myrecommend['status']==1">待审核<elseif condition="$myrecommend['status']==2" />审核通过<else /></if></span>

               </div>
               <div class="col-20">
               <if condition="$myrecommend['status']==1">
               <a href="__URL__/domyrecommend/uid/<{$myrecommend.uid}>/status/2"><input name="ok" type="button" value="" class="btn-ok"></a>
               <a href="__URL__/domyrecommend/uid/<{$myrecommend.uid}>/status/0"><input name="cancel" type="button" value="" class="btn-cancel"></a>
               <elseif condition="$myrecommend['status']==2" />
                   <input name="ok" type="button" value="" class="btn-ok-s" disabled="disabled">
               <else />
                   <input name="ok" type="button" value="" class="btn-cancel-s" disabled="disabled">
               </if>
               </div>
              </div>
              
              </form>
        </div>
        </volist>
  
        
        
       </div>
       <!--<div class="con-font con-pd text-center color-gray bgcolor-w con-mb2">
          联系电话：<a href="tel:<{$Think.config.WEB_TELEPHONE}>" style="color:#000000"><{$Think.config.WEB_TELEPHONE}></a>  技术支持：<a href="http://www.singka.cn" style="color:#000000">晟嘉网络</a>
       </div>-->
    </div>
    
        <nav class="bar bar-tab">
    <a class="tab-item external" href="/">
      <span class="tab-label">综合信息</span>
    </a>
    <a class="tab-item external" href="__URL__/support">
      <span class="tab-label">提供支持</span>
    </a>
    <a class="tab-item external active" href="__URL__/index">
      <span class="tab-label">我的信息</span>
    </a>
   
    </nav>      
          
<script src="__PUBLIC__/template/js/zepto.min.js"></script>
<script src="__PUBLIC__/template/js/sm.js"></script>
<script src="__PUBLIC__/template/js/sm-extend.js"></script>
  </body>
</html>