
body { font-family:"Microsoft Yahei"; background:#e2e1e1;}
a {
  color: #fcfcfc;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:active {
  color: #fff;
}
.bigtit { color:#fcfcfc; font-size:1.3rem;font-weight:400; text-align:center; }
.bigtit small { font-size:0.5rem;}
.bigtit span { position:absolute; padding:0 0.5rem; background:#4d4948; right:0; top:1.5rem; font-size:0.85rem; display:block; }

.pos-r { position: relative;}
.pos-a { position: absolute;}

.fl { float:left;}
.fr { float:right;}

.content-box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.content-box {
  top: 2.8rem;
  bottom: 2.8rem;
}
.no-top { top:0;}
.no-bottom { bottom:0;}

.main-nav {margin: 1rem 0.3rem;}
.main-nav img { display:block; width:100%;}
.main-nav .row {
    overflow: hidden;
	margin-left:1.5%;
	margin-bottom:1%;
}
.main-nav .row .col-lit{ width:33%; margin-left:0;}
.main-nav .row .col-100 { width:99%; margin-left:0;}


.main-con {margin: 1rem 0.5rem;}
.main-con .row {
    overflow: hidden;
	margin-left:0;
	margin-bottom:1%;
}
.main-con .row .col-lit{ width:33%; margin-left:0;}
.main-con .row .col-100 { width:99%; margin-left:0;}
.main-con img { display:block; width:100%;}

.search-box .row {padding-left:5%; background:#9d7248;}
.search-box input{ height:1.5rem;border:none; }
.search-box .input-text{background:#ecebbf;  padding-left:0.5rem; width:100%;font-size:0.7rem;  color:#333;}
.search-box .btn-search {width:100%;height:1.5rem; width:1.5rem; background:url(../images/icon_search.png) center center no-repeat; background-size:auto 60%; }

.search-box2 .row { background:#none;}
.search-box2 input{ height:1.5rem;border:none;}
.search-box2 .input-text{background:#ecebbf;  padding-left:0.5rem; width:100%;font-size:0.7rem;  color:#333;}
.search-box2 .btn-search {width:100%;height:1.5rem; width:1.5rem; background:#fff url(../images/icon_redarr.png) center center no-repeat; background-size:auto 50%; }
.search-box2 .name { font-size:0.8rem; margin-left:0.4rem; color:#fff202;}

.lists { font-size:0.6rem; color:#fff; background-color:none;}
.lists ul, .lists li { list-style:none; margin:0; padding:0;}
.lists .row { padding:0.8rem 0; padding-left:0.3rem;}
.lists .actions li{ /*margin:0.3rem 0;*/ width:2.5rem; padding-left:0.5rem; margin-left:0.2rem;}
.bor-b { border-bottom:#fba239 2px solid;}
.bor-b2 { border-bottom:#ffff00 2px dashed;}
.bor-l { border-left:#fffb76 2px dotted;}
.bor-t { border-top:#fffb76 2px dotted;}


.form-box .row {  background:#9d7248;}
.form-box input{ height:1.5rem;border:none; }
.form-box label {color:#fff; font-size:0.6rem; padding:0 0.2rem;}
.form-box .input-text{background:#ecebbf; width:30%;font-size:0.5rem;color:#333;}
.form-box .btn-search {height:1.5rem; width:1.5rem; background:url(../images/icon_search.png) center center no-repeat; background-size:auto 60%; }
.form-box .input-text2 { float:right; background:#ecebbf;font-size:0.7rem; height:1.5rem; width:1.5rem; text-align:center;}
.form-box select { font-size:0.5rem;padding:0; margin:0; border:none;background:#ecebbf;height:1.5rem;}


.con-mt {margin-top:0.25rem;}
.con-mb {margin-bottom:0.25rem;}
.con-color {color:#fcfcfc;}
.con-font { font-size:0.6rem;}
.con-pd { padding:0.6rem;}
.con-pd-s { padding:0.3rem;}
.con-pd-l { padding:0.8rem 0.6rem;}
.con-pd-notop {padding:0.6rem; padding-top:0}
.con-pd-notb {padding:0 0.6rem;}
.con-tit { color:#fcfcfc; font-size:0.9rem; margin:0; padding:0.2rem; font-weight:400; text-align:center; }
.con-tit span {padding:0 0.3rem;}
.con-area { margin:0.3rem 0.2rem; border:#f1f1f1 2px dashed;}
.con-area-dark { margin:0.3rem 0.2rem; border:#333 2px dashed;}

.color-r { color:#cd0000;}
.color-y { color:#fef402;}
.color-b { color:#333;}
.color-w {color:#fff;}

.bgcolor-w{ background:#fff;}
.bgcolor-1{ background:#f99d36;}
.bgcolor-2{ background:#ebbb67;}
.bgcolor-3{ background:#9a6030;}
.bgcolor-4{ background:#ede566;}
.bgcolor-5{ background:#eeeeee;}
.bgcolor-6{ background:#bf9f62;}
.bgcolor-7{ background:#d48b3c;}
.bgcolor-8{ background:#c5d08b;}
.bgcolor-9{ background:#d6caca;}
.bgcolor-10{ background:#878684;}
.bgcolor-11{ background:#a37841;}

.intr-p { width:100%;}
.area-p { width:100%;}
.profile-p { width:100%;}
.timelist-p { width:100%; color:#333;}
.timelist-p .con-tit { color:#333;}
.zhixun-p { width:100%;}
.zhixun-p .con-tit { color:#333;}
.zhixun-p .zhixun-p-con { padding:0.5rem; font-size:0.6rem; }
.zhixun-p .zhixun-p-con span { color:#e56611;}


.ywgl { font-size:0.6rem; color:#333; background-color:none;}
.ywgl ul, .ywgl li { font-size:1rem; line-height:1.8rem; list-style:none; margin:0; padding:0;}
.ywgl li span { color:#e56611;}
.ywgl .row { padding:0.2rem 0; padding-left:0.3rem;}
.ywgl .actions li{ /*margin:0.3rem 0;*/ width:2.5rem; padding-left:0.5rem; margin-left:0.2rem;}

.bot-line { margin-left:0.5rem; margin-right:0.5rem; padding-bottom:0.3rem; border-bottom:#ff800e 2px solid;}

.sup-p { width:100%;}
.sup-p span { color:#333; }
.data-table { width:99%; border:none; margin:0 auto;}
.act-table  { width:99%; border:none; margin:0 auto;}
.act-table td{ width:30%; text-align:center;}
.bor-b-d { border-bottom:#fff 2px dotted;}
.act-table img {width:2rem; margin:0 auto;}
.sup-p2 span { color:#d81308; }

.pro-p { width:100%; background:#efaf43;}
.pro-p2 { width:100%; background:#36312e;}
.pro-p3 { width:100%; background:#9a6030;}

.food-p { width:100%; background:#9a6030;}
.food-p2 tr { border-bottom:#9a6030 1px dotted;}
.food-p2 tr:last-child {border-bottom:none;}
.food-p2 td { text-align:center;}

.manual-p { width:97%; background:#9e7259;margin-left:auto; margin-right:auto;}
.manual-p .con-area { margin:0.3rem 0.6rem;}

.manual-action { width:100%; text-align:center;}
.btn-agree { background:#d68d48; margin:0 auto; width:80%; padding:0.4rem 1rem; font-size:0.3rem; color:#fff; border:0; border-radius:0.2rem;}

.tag-p a { display:inline-block; border:#fff 2px solid; padding:0 0.5rem;}
.tag-p a.active { display:inline-block; color:#fcfcfc; background:#e67817; border:#e67817 2px solid;}

.num-p input{ height:1.2rem;border:none;}
.num-p .input-text{background:#ecebbf;  padding-left:0.5rem; width:50%;font-size:0.7rem;  color:#333;}
.num-p a.jia { display:inline-block; background:#e5802e; padding:0 0.4rem;}
.num-p a.jian { display:inline-block; background:#edd06a; padding:0 0.4rem;}

.intergral-action { width:100%; text-align:center;}
.btn-intergral { background:#e67817; margin:0 auto; width:80%; padding:0.3rem 1rem; font-size:0.8rem; color:#fff; border:0; border-radius:0.2rem;}

.senfen-p { text-align:center;}
.consult-p .data-table span { color:#d81308;}
.con-bot { padding:0 0.2rem;}
.con-bot select { width:70%; border:none; color:#999; }
.con-bot .btn-send { float:right; margin-right:0.2rem; border:none; background:#ea612a; color:#fcfcfc; padding:0.1rem 0.5rem;}

.duty-cata { width:100%; text-align:center;}
.duty-cata  select {
    width: 50%;
    border: none;
    color: #999;
}